<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rahul's Grocery List</title>
  <link rel="stylesheet" href="/stylesheets/grocery.css">
</head>

<body>
  <%= yield %>
  <script src="/javascripts/grocery.js"></script>
</body>
</html>
