<form action="/articles/new" method="post">
  <label for="new_title">Add title:</label>
  <input type="text" id="new_title", name="new_title">

  <label for="new_url">Add URL:</label>
  <input type="text" id="new_url", name="new_url">

  <label for="new_description">Add description:</label>
  <input type="textarea", id="new_description", name="new_description">

  <input type="submit">
</form>

<a href="/articles">Go to articles</a>
<a href="/">Go Home</a>
