/* Your styling here */
.jumbotron {
  background-color: #F22FC3;
  color: #F4D748;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-width: medium;
  border-color: black;
}

input[type=text] {
  width: 70%;
  background-color: #F4D748;
  color: #A8A28E;
}

input[type=submit] {
  width: 20%;
  float: right;
  color: #F22FC3;
  background-color: #12BFBC;
  margin-top: -60px;
  margin-right: 10px;
  padding: 10px;
  font-weight: bolder;
  font-size: 0.8em;
}

i {
  float: right;
  color: #A51181;
}
