<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li>
      <span class="show-for-sr">Current: </span>Right Here
    </li>
  </ul>
</nav>

<div class="text-center">
  <h1>You know what this is?</h1>
  <h3>This is the path to your inevitable doom.</h3>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>This is the box of destiny!</h3>
    <p>
      Fear me, mere mortal, for I descend on your world with the rage of a thousand fiery suns. Your pathetic attempts to escape will only result in greater pain.
    </p>
    <!-- Button -->
    <div class="text-center">
      <a href="#" class="button">Just kill me now</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>This is the box of destiny!</h3>
    <p>
      Fear me, mere mortal, for I descend on your world with the rage of a thousand fiery suns. Your pathetic attempts to escape will only result in greater pain.
    </p>
    <!-- Button -->
    <div class="text-center">
      <a href="#" class="button">Just kill me now</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>This is the box of destiny!</h3>
    <p>
      Fear me, mere mortal, for I descend on your world with the rage of a thousand fiery suns. Your pathetic attempts to escape will only result in greater pain.
    </p>
    <!-- Button -->
    <div class="text-center">
      <a href="#" class="button">Just kill me now</a>
    </div>
  </div>
</div>


<form>
  <div class="row">
    <div class="medium-6 columns">
      <label>First Name:
        <input type="text" placeholder="Jimminy">
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Last Name:
        <input type="text" placeholder="Cricket">
      </label>
    </div>
  </div>
</form>

<ul class="menu vertical">
  <li><a href="#">Kill</a></li>
  <li><a href="#">Yourself</a></li>
  <li><a href="#">Now</a></li>
</ul>
